# 1 ---- Establish a custom 404 File not Found page ----
#ErrorDocument 404 /filenotfound.php

# 2 ---- Prevent directory file listing in all of your folders ----
#IndexIgnore *
# 3 ---- Make pages render without their extension in the url
#Options +MultiViews

# Turn mod_rewrite on
RewriteEngine On

RewriteRule ^album/view/([0-9]+)$ /slideshow.php?albumid=$1 [L]

RewriteRule ^albums/download/([a-zA-z0-9]+)$ /download.php?albumid=$1 [L]